// Default styles for the modal overlay (the dark area *behind* the content).

#modal-overlay
	background: #000
	display: none
	height: 100%
	left: 0px
	position: fixed
	top: 0px
	width: 100%
	z-index: 100


// Default styles for the modal content.

.modal
	background-color: #fff
	display: none
	padding: 10px 25px
	max-width: 600px
	color: $base-font-color

	h1
		margin-top: 0

	ul
		list-style: none
		margin: 0
		padding-left: 0

	li
		margin-bottom: 1em
		&:last-child
			margin-bottom: 0

	[type="text"],
	[type="email"],
	textarea
		display: block
		color: $base-font-color
		width: 100%
		
	input
	[type="submit"]
		padding: 8px
		border: none
		background: $blue

.contact-thankyou
	h2
		text-align: center
		color: #fff

.videoContainer
	display: none
	float: right
	max-width: 293
	background-repeat: no-repeat
	background-size: 100% auto
	background-position: center top
	&.about
		background-image: url(/_/media/slide-about/about.png)
	&.mobile
		background-image: url(/_/media/slide-mobile/mobile.png)
	&.creative
		background-image: url(/_/media/slide-creative/creative.png)
		video
			margin: 80px 69px 288px 70px
	video
		margin: 110px 28px 288px 30px
		
	+mq-min-width(860px)
		display: block